---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Fyve studio media pro',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Fotgrafia de eventos <span class="hidden xl:inline">en </span>
      <span class="text-accent dark:text-white highlight"> Málaga</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"> En Fyve studio</span> Media
        pro</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">.</span>
      En nuestro compromiso por ofrecerte lo mejor, elegimos con sumo cuidado una fotografía de boda auténtica que no solo captura el momento, sino que también se conecta profundamente contigo emocionalmente, permitiéndote revivir esos momentos especiales una y otra vez.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="servicio completo"
    title="¿ Que incluye ?"
    items={[
      {
        title: 'Galería de Imágenes de Alta Calidad',
        description:
          'Un portafolio interactivo que muestra las mejores fotografías, permitiendo a los clientes explorar y admirar tu trabajo con una resolución impecable.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Sesiones Personalizadas',
        description:
          'Opciones para reservar sesiones fotográficas personalizadas, adaptadas a las necesidades y preferencias específicas de cada cliente.',
        icon: 'tabler:components',
      },
      {
        title: 'Edición Profesional',
        description:
          'Servicios de edición avanzada que garantizan que cada imagen se vea perfecta, con ajustes de color, iluminación y retoques detallados.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Integración de Redes Sociales',
        description:
          'Funcionalidades para compartir fácilmente las fotos en diversas plataformas sociales, facilitando la promoción y visibilidad de tus imágenes.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Tienda en Línea',
        description:
          "Un sistema de comercio electrónico que permite a los clientes comprar impresiones y productos fotográficos directamente desde la web, con varias opciones de formato y tamaño.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Blog Inspiracional',
        description:
          'Una sección de blog donde compartes historias detrás de tus sesiones fotográficas.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Fotografia"
    title="Cada parte de tu sesion es importante"
    items={[
      {
        title: 'Planificación y Concepto',
        description:
          'Reunión con la pareja para discutir ideas, elegir la ubicación, y definir el estilo y la temática de la sesión.',
      },
      {
        title: 'Sesión Fotográfica',
        description:
          'Realización de la sesión en la ubicación seleccionada, capturando momentos espontáneos y poses planificadas que reflejen la relación de la pareja.',
      },
      {
        title: 'Edición y Entrega',
        description:
          'Selección y edición de las mejores fotos, entrega de un álbum digital y/o físico, y opcionalmente, creación de contenido para invitaciones o redes sociales.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Disfruta del proceso</h3>
      Sesión Preboda
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Preparativos de los Novios',
        description: `Captura de los momentos íntimos y significativos mientras los novios se preparan para la ceremonia, incluyendo el vestuario, maquillaje y detalles personales.`,
      },
      {
        title: 'Ceremonia',
        description:
          'Cobertura completa de la ceremonia de la boda, desde la llegada de los invitados hasta los votos y el primer beso como pareja casada.',
      },
      {
        title: 'Convite y Recepción',
        description:
          "Fotografía de la recepción, documentando el primer baile, discursos, corte del pastel, y momentos clave con familiares y amigos.",
      },
      {
        title: 'Retratos y Detalles',
        description:
          'Sesión de retratos formales e informales de la pareja y los invitados, además de fotografías detalladas de la decoración, el banquete y otros elementos importantes del evento.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Sesión de Boda (Convite)</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Selección de Ubicación y Vestuario',
        description:
          'Coordinación con la pareja para elegir una ubicación especial y definir el vestuario, a menudo reutilizando los trajes de boda en un ambiente más relajado o diferente.',
      },
      {
        title: 'Sesión Fotográfica Creativa',
        description:
          'Realización de la sesión en la ubicación seleccionada, enfocándose en tomas artísticas y creativas que quizás no fueron posibles el día de la boda.',
      },
      {
        title: 'Edición Profesional',
        description:
          'Edición detallada de las fotos, asegurando que cada imagen refleje la calidad y el estilo deseado por la pareja.',
      },
      {
        title: 'Presentación y Entrega',
        description: `Creación de un álbum conmemorativo, entrega de copias digitales y/o impresas, y, opcionalmente, elaboración de un vídeo o presentación multimedia que destaque los mejores momentos y detalles de la sesión.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Sesión Post Boda</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Tiempo de entrega"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Selección y Edición</span>',
        description:
          "Revisión de todas las fotos tomadas durante la sesión para seleccionar las mejores tomas. Edición profesional de las imágenes, ajustando color, brillo, contraste y realizando retoques necesarios para asegurar la máxima calidad.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Revisión y Aprobación del Cliente</em>',
        description:
          "Presentación de una galería preliminar de fotos editadas al cliente para su revisión y Recopilación de comentarios y solicitudes de ajustes adicionales por parte del cliente para asegurar su completa satisfacción.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'paso 3: <span class="font-medium">Creación de Álbum y Materiales Adicionales</span>',
        description:
          'Diseño y maquetación de un álbum fotográfico personalizado, si así lo ha solicitado el cliente.',
        icon: 'tabler:paint',
      },
      {
        title: 'Entrega Final!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Experiencias"
    subtitle="Y una solida trayectoria fotografica"
    tagline="vivencias"
    items={[
      {
        title: 'Prensa',
        description: 'Capturamos los momentos más importantes y significativos de los eventos de prensa, asegurando que cada imagen cuente una historia.',
        icon: 'flat-color-icons:template',
      },
            {
        title: 'Bodas',
        description: 'Inmortalizamos tu día especial con fotografías que reflejan el amor y la alegría de cada momento, creando recuerdos duraderos.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Eventos',
        description: 'Fotografiamos eventos de todo tipo, capturando la esencia y energía de cada ocasión para que nunca olvides esos momentos.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Comuniones',
        description: 'Documentamos cada detalle de las comuniones, desde los preparativos hasta la celebración, con un enfoque especial en la emoción del día.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Fiestas privadas',
        description: 'En tus fiestas privadas, capturamos la diversión y la alegría de tus invitados, creando recuerdos inolvidables de cada celebración.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Presentaciones',
        description: 'Fotografiamos tus presentaciones y lanzamientos, asegurando que cada imagen refleje la importancia y el impacto del evento.',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Algunas de nuestras sesiones"
    information={`Las sesiones que te presentamos son una selección cuidadosamente elegida de los diversos trabajos que hemos realizado. Cada imagen refleja nuestra dedicación y pasión por capturar los momentos más significativos y especiales, destacando la variedad y calidad de nuestro trabajo en distintos eventos y ocasiones.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Cuál es el proceso para reservar una sesión fotográfica?',
        description:
          "Explicamos detalladamente cómo reservar una sesión, incluyendo el contacto inicial, la planificación de la sesión y los detalles de pago.",
      },
      {
        title: '¿Cuánto tiempo lleva recibir las fotos después de la sesión?',
        description:
          'Informamos sobre los tiempos de entrega típicos y cualquier opción de entrega express disponible para las fotos.',
      },
      {
        title: '¿Ofrecen servicios de edición de fotos adicionales?',
        description:
          "Detallamos cualquier servicio de edición extra disponible, como retoques avanzados o efectos especiales, y cómo solicitarlos.",
      },
      {
        title: "¿Puedo elegir la ubicación de la sesión fotográfica?",
        description:
          "Explicamos nuestra flexibilidad en cuanto a la ubicación de la sesión y cómo ayudamos a nuestros clientes a elegir el lugar perfecto",
      },
      {
        title: '¿Qué debo llevar a la sesión fotográfica?',
        description:
          "Proporcionamos consejos útiles sobre qué llevar a la sesión, desde la vestimenta adecuada hasta cualquier accesorio o requisito especial.",
      },
      {
        title: 'Cómo puedo pagar por mis servicios de fotografía?',
        description:
          "Detallamos los métodos de pago aceptados y cualquier política relacionada con los pagos, como depósitos o pagos a plazos.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clientes', amount: '163' },
      { title: 'Sesiones', amount: '163' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'contactanos',
        href: 'tel:+34641437667',
        target: '_blank',

      },
    ]}
  >
    <Fragment slot="title">
      Fyve studio<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">media Pro</span>
    </Fragment>

    <Fragment slot="subtitle">
     Si desea ampliar la informacion puede contactarnos a travees del boton 'Contactanos' <br class="hidden md:inline" />
    </Fragment>
  </CallToAction>
</Layout>
